<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1 class="clearfix">
        <%= gravatar_for @user %>
        <div style="margin-bottom:20px"><%= @user.name %></div>
        <div style="font-size:16px; margin-bottom:5px;"><%= link_to "followings", followings_user_path(@user) %> : <%= @user.following_users.count %></div>
        <div style="font-size:16px;"><%= link_to "followers", followers_user_path(@user) %> : <%= @user.follower_users.count %></div>
      </h1>
        <div class="profile_info"><label>Name:</label><div><%= @user.name %></div></div>
        <div class="profile_info"><label>Email:</label><div><%= @user.email %></div></div>
        <div class="profile_info"><label>Location:</label><div><%= @user.location %></div></div>
        <div class="profile_info"><label>URL:</label><div><%= @user.url %></div></div>
        <div class="profile_info"><label>Description:</label><div><%= @user.profile %></div></div>
        <% if @user == current_user %>
          <%= link_to "edit profile", edit_user_path(@user) %>
        <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% end %>
  </div>
</div>