<div class="container">
    <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
    </h1>
    <div class="col-md-6 col-md-offset-4">
        <div class="profile_info"><label class="col-md-2">Name:</label><div class="col-md-10"><%= @user.name %></div></div>
        <div class="profile_info"><label class="col-md-2">Email:</label><div class="col-md-10"><%= @user.email %></div></div>
        <div class="profile_info"><label class="col-md-2">Location:</label><div class="col-md-10"><%= @user.location %></div></div>
        <div class="profile_info"><label class="col-md-2">URL:</label><div class="col-md-10"><%= @user.url %></div></div>
        <div class="profile_info"><label class="col-md-2">Description:</label><div class="col-md-10"><%= @user.profile %></div></div>
        <div class="btn col-md-12"><%= link_to "edit profile", edit_user_path(current_user) %></div>
    </div>
</div>
